:root {
  --g-black: #000807ff;
  --g-black-o80: #000a09cc;
  --g-black-o60: #000a0999;
  --g-black-o40: #000a0966;
  --g-black-o20: #000a0933;

  --g-white: #fbf9ffff;
  --g-white-o80: #fbf9ffcc;
  --g-white-o60: #fbf9ff99;
  --g-white-o40: #fbf9ff66;
  --g-white-o20: #fbf9ff33;

  --b-principal: #141b3a;
  --b-principal-o80: #141b3acc;
  --b-principal-o60: #141b3a99;
  --b-principal-o40: #141b3a66;
  --b-principal-o20: #141b3a33;

  --b-secondary: #a2a3bb;
  --b-secondary-o80: #a2a3bbcc;
  --b-secondary-o60: #a2a3bb99;
  --b-secondary-o40: #a2a3bb66;
  --b-secondary-o20: #a2a3bb33;

  --m-principal: #9395d3;
  --m-principal-o80: #9395d3cc;
  --m-principal-o60: #9395d399;
  --m-principal-o40: #9395d366;
  --m-principal-o20: #9395d333;

  --m-secondary: #b3b7ee;
  --m-secondary-o80: #b3b7eecc;
  --m-secondary-o60: #b3b7ee99;
  --m-secondary-o40: #b3b7ee66;
  --m-secondary-o20: #b3b7ee33;
}
