<div class="container-all">
  <main class="container-main">
    <aside class="info">
      <picture class="info__portrait">
        <img src="assets/img/me2.jpg" alt="me2.jpg" />
      </picture>

      <div class="info__text">
        <h1>Eliezer A Meza</h1>
        <h4>Lorem ipsum dolor sit amet.</h4>
        <h5>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi,
          saepe.
        </h5>
      </div>

      <nav class="navigation">
        <li
          class="navigation__item"
          [ngClass]="{current : navCurrent == 'aboutMe'}"
          (click)="changeNavCurrent('aboutMe')"
        >
          acerca de
        </li>
        <li
          class="navigation__item"
          [ngClass]="{current : navCurrent == 'experience'}"
          (click)="changeNavCurrent('experience')"
        >
          experiencia
        </li>
        <li
          class="navigation__item"
          [ngClass]="{current : navCurrent == 'project'}"
          (click)="changeNavCurrent('project')"
        >
          proyectos
        </li>
      </nav>

      <div class="info__socialbar">
        <button class="info__socialbar__item">
          <ion-icon name="logo-linkedin"></ion-icon>
        </button>
        <button class="info__socialbar__item">
          <ion-icon name="logo-github"></ion-icon>
        </button>
      </div>
    </aside>

    <section class="info">info</section>
  </main>
</div>
