.container-main {
  width: min(95%, 1200px);

  display: grid;
  grid-template-columns: 500px 1fr;

  .info {
    position: relative;

    display: flex;
    flex-direction: column;

    &__portrait {
      width: 500px;
      padding: 1rem 1rem 0 1rem;

      img {
        width: 300px;
        height: 300px;

        border: 2px solid var(--g-white-o40);

        animation: portraitAnimate 10s infinite;
      }

      @keyframes portraitAnimate {
        0% {
          border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
        }
        35% {
          border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        }
        75% {
          border-radius: 20% 70% 60% 40%/60% 30% 70% 40%;
        }
        100% {
          border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
        }
      }
    }

    &__text {
      padding: 1rem;

      h1 {
        font-size: 3rem;
        font-weight: 600;

        color: var(--g-white);
      }

      h4 {
        font-size: 1.5rem;

        color: var(--g-white-o60);
      }

      h5 {
        font-size: 1rem;

        color: var(--g-white-o40);
      }
    }

    &__socialbar {
      position: absolute;
      bottom: 10px;

      display: flex;

      &__item {
        width: 50px;
        height: 50px;

        ion-icon {
          color: var(--g-white-o40);
          font-size: 2rem;

          transition: 0.3s all ease;
        }

        &:hover {
          ion-icon {
            color: var(--g-white-o80);
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .navigation {
    padding: 0 1rem;

    // height: 300px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__item {
      position: relative;

      height: 40px;

      margin-bottom: 0.5rem;

      padding-left: 1.5rem;

      font-size: 1rem;
      color: var(--g-white-o40);

      text-transform: uppercase;

      transition: 0.3s;

      cursor: pointer;

      display: flex;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 17px;

        width: 1rem;
        height: 3px;

        background-color: var(--g-white-o40);

        transition: 0.3s;
      }

      &.current {
        padding-left: 2.5rem;

        color: var(--g-white-o80);

        &::before {
          width: 2rem;

          background-color: var(--g-white-o80);
        }
      }
    }
  }
}
