<div class="container-all">
  <div class="container-main">
    <aside class="info">
      <picture class="info__portrait">
        <img src="assets/img/me2.jpg" alt="me2.jpg" />
      </picture>

      <div class="info__text">
        <h1>Eliezer A Meza</h1>
        <h4>Lorem ipsum dolor sit amet.</h4>
        <h5>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi,
          saepe.
        </h5>
      </div>

      <nav class="navigation">
        <li
          class="navigation__item"
          [ngClass]="{current : navCurrent == 'aboutMe'}"
          (click)="changeNavCurrent('aboutMe')"
        >
          acerca de
        </li>
        <li
          class="navigation__item"
          [ngClass]="{current : navCurrent == 'qualification'}"
          (click)="changeNavCurrent('qualification')"
        >
          experiencia
        </li>
        <li
          class="navigation__item"
          [ngClass]="{current : navCurrent == 'projects'}"
          (click)="changeNavCurrent('projects')"
        >
          proyectos
        </li>
      </nav>

      <div class="info__socialbar">
        <button class="info__socialbar__item">
          <ion-icon name="logo-linkedin"></ion-icon>
        </button>
        <button class="info__socialbar__item">
          <ion-icon name="logo-github"></ion-icon>
        </button>
      </div>
    </aside>

    <main class="content" id="contentScroller">
      <section class="aboutMe" id="aboutMe">
        <p>
          <strong> Lorem ipsum dolor sit amet, consectetur adipisicing </strong
          >elit. Eum, exercitationem nam quasi voluptatum aliquid veritatis?
        </p>
        <p>
          Lorem ipsum dolor, sit
          <strong>amet consectetur adipisicing elit. Sunt</strong>
          doloremque nihil ut sequi magni quod harum quisquam ipsum blanditiis
          assumenda quo saepe, qui consequatur dignissimos quaerat obcaecati
        </p>
        <p>
          impedit molestias reprehenderit voluptate pariatur sint asperiores.
          Error iusto accusantium excepturi sapiente unde eos earum ullam! Cum,
          <strong>quasi amet. A dolore numquam distinctio. </strong>
        </p>
      </section>

      <section class="qualification" id="qualification">
        <article
          *ngFor="let xp of list.qualifications"
          class="qualification__item"
        >
          <span class="qualification__item__timelapse">
            {{ xp.timelapse }}
          </span>

          <div class="qualification__item__body">
            <span class="qualification__item__label">
              <h4 (click)="navigate(xp.url, 'black')">{{ xp.label }}</h4>
              <ion-icon name="arrow-redo-outline"></ion-icon>
            </span>

            <span class="qualification__item__rol main"> {{ xp.rol }} </span>
            <span class="qualification__item__rol secondary">
              {{ xp.rol1 }}
            </span>
            <span class="qualification__item__rol tertiary">
              {{ xp.rol2 }}
            </span>

            <p class="qualification__item__description">{{ xp.description }}</p>

            <div class="qualification__item__skills">
              <span *ngFor="let skill of xp.skills" class="skill">
                {{ skill }}</span
              >
            </div>
          </div>
        </article>

        <span class="link"> Ver mas </span>
      </section>

      <section class="projects" id="projects">
        <article *ngFor="let project of list.projects" class="projects__item">
          <span class="projects__item__image">
            <img [src]="project.image" [alt]="project.label" />
          </span>

          <div class="projects__item__body">
            <span class="projects__item__label">
              <h4 (click)="navigate(project.url, 'black')">
                {{ project.label }}
              </h4>
              <ion-icon name="arrow-redo-outline"></ion-icon>
            </span>

            <p class="projects__item__description">{{ project.description }}</p>

            <div class="projects__item__requireds">
              <span *ngFor="let required of project.requireds" class="required">
                {{ required }}</span
              >
            </div>
          </div>
        </article>

        <span class="link"> Ver mas </span>
      </section>
    </main>
  </div>
</div>
